body{
    font-family: sans-serif;
    background-color: #1E567C;
    text-align: center;
}
h1{
    font-size: 120px;
    margin-top: 100px;
    text-transform: uppercase;
}
a{
   text-decoration: none;
}
#clock {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/*
=================================================
BOOKMARKS
=================================================
*/
.bookmarks{
    padding:30px;
    font-family: sans-serif;
    clear: both;
 }
 .bookmarks i{
    font-size:42px;
    margin:0 20px;
    color:rgb(238, 223, 5);
    transition:.15s;
    vertical-align: top;
 }
 .bookmarks i:hover{
    font-size:72px;
    position:relative;
 }
 /*
=================================================
POST-IT NOTE (IN CSS)
=================================================
*/
#note{
    width:250px;
    height:250px;
    resize: none;
    background:#F3F19D;
    padding:15px;
    border:none;
    position: absolute;
    bottom:50px;
    left:50px;
    font-family:sans-serif;
   }

   /*
=================================================
SEARCH
=================================================
*/
form{
    width:100%;
    max-width:600px;
    margin:0 auto;
 }
 input{
    width:100%;
    font-size:32px;
    margin:5px 0;
    float:left;
    border:none;
    padding:10px;
    outline:none;
 }
 .search-bar{
    width:85%;
 }
 .submit-button{
    width:15%;
    background:#000;
    color:#FFF;
 }
 *{
   box-sizing: border-box;
 }
 
 

